<li><%= link_to song.title, song_path(song) %></li>
<% if song.artist.nil? %>
    <li><%=link_to "Add Artist", edit_song_path(song) %></li>
<%else%>
    <li><%= link_to display_artist(song), artist_path(song.artist) %></li>
<%end%>
