<h1><%= link_to @artist.name, artist_path(@artist) %></h1>
<div class="song_list">
  <h2>Songs:</h2>
    <ul>
      <% @artist.songs.each do |song| %>
        <li><%= link_to "#{song.title}", song_path(song)%></li>
      <% end %>
    </ul>
</div> 
