<ul>
<% @songs.each do |song| %>
<li><%= link_to song.title, song_path(song) %></li>
<% if song.artist_name==nil %>
<%= display_artist(song) %>
<% end %>
<% end %>
</ul>
<br>
<%= link_to "Add New Song", new_song_path %>
