<ol>
<% @songs.each do |song| %>
  <li><%= link_to song.title, song_path(song) %></li>
    <ul>
      <li><%= display_artist song %></li>
    </ul>
<% end %>
</ol>
<br>
<%= link_to "Add New Song", new_song_path %>
