<ul>
<% @songs.each do |song| %>
  <li><%= link_to song.title, song_path(song) %> - <%= display_artist(song) %></li>
  <%= link_to "Add Artist", edit_song_path(song) %><br><br>
<% end %>
</ul>

<%= link_to "Add New Song", new_song_path %>
