
<% @songs.each do |song| %>
  <ul>
    <li>Song title: <%= link_to song.title, song_path(song) %></li>
    <li>Artist: <%=display_artist(song)%></li>
  </ul>
<% end %>

<br>
<%= link_to "Add New Song", new_song_path %>
