<h1><%= link_to @song.title, song_path(@song) %></h1>

<p><%= link_to @song.artist_name, artist_path(@song.artist_id) %></p>

<p><%= link_to_if(edit_song_path(@song), "Add Artist") %></p>

<%= link_to "All Songs", songs_path %>
