<h1><%= link_to @song.title, song_path(@song) %></h1>

#returns link to artist if artist exists
#returns "Add Artist" with link to add artist if artist does not exist
<h3><%= display_artist @song %></h3>

<%= link_to "All Songs", songs_path %>
