<h1><%= link_to @song.title, song_path(@song) %></h1>

<% link_to "All Songs", songs_path %>

<%= @song.authors.each do |author| %>
  <%= link_to author.name %> - <%= self.display_artist %>
<% end %>
