<h1><%= link_to @song.title, song_path(@song) %></h1>
<!-- How can I get this show page to work. Right now i'm getting a nil
So there's no aritst. My helper method made the problem. I called @artist and
and didn't have that value. -->
<%= display_artist(@song) %>

<%= link_to "All Songs", songs_path %>
