<h1><%= link_to @song.title, song_path(@song) %></h1>

<%= link_to "All Songs", songs_path %>

 describe "/songs/:id" do
 
    it "links to the artist" do
      visit song_path(@song)
      expect(page).to have_link("Daft Punk", href: artist_path(@artist))
    end

    it "links to edit when no artist" do
      song = Song.create(title: "Policy of Truth")
      visit song_path(song)
      expect(page).to have_link("Add Artist", href: edit_song_path(song))
    end