<h1><%= link_to @song.title, song_path(@song) %></h1>

<h3><%= display_artist @song %></h3>
<%=# so we're calling a method here that does... what? it's a helper for the artist controller, since it displays artists
#so it's just doing what i would normally do here with a link_to, but also responding accordingly if the object does not exist.
#the helper method #display_artist takes in (song) which is a song instance, hence we pass the instance variable here
%>


<%= link_to "All Songs", songs_path %>
