<h1><%= link_to @song.title, song_path(@song) %></h1>
<% if  @song.artist.name == "" ||  @song.artist.name == nil
  <h1><%= link_to song_path(@song.artist/edit) %></h1>
    <%else%>
<h1><%= link_to @song.artist.name, artist_path(@song.artist) %></h1>
  <%end%>
<%= link_to "All Songs", songs_path %>
