<h1><%= link_to @song.title, song_path(@song) %></h1>
  <%#below works with the Artist helper, that shows when an artist doesnt exist for a song%>
<h1><%= display_artist(@song) %></h1>

<%= link_to "All Songs", songs_path %>
