<h1><%= link_to @song.title, song_path(@song) %></h1>

<% if @song.artist %>
    <%= link_to @song.artist.name, artist_path(@song.artist) %> 
<% else %>
    <%= link_to artist_path(%>    if @song.artist %
<%= link_to "All Songs", songs_path %>
