<h1>Song Title: <%= link_to @song.title, song_path(@song) %> , Artist Name: <%= link_to @song.artist_name, artist_path(@song.artist) if @song.artist %> </h1>
<p>
   Feel free to add one by clicking <%= display_artist(@song) %>.
</p>

<%= link_to "All Songs", songs_path %>
